# Frontend
VITE_WEATHER_API_KEY=sua_chave_aqui

# Backend
GEOAPIFY_API_KEY=sua_chave_aqui

# Banco
DATABASE_URL=postgresql+psycopg2://admin:senha@db:5432/natural_organic_db
POSTGRES_USER=admin
POSTGRES_PASSWORD=senha
POSTGRES_DB=natural_organic_db